In [1]:
import numpy as np
import pandas as pd

# EDA

In [2]:
# Loading data
sales_train = pd.read_csv('data/sales_train.csv')
item_categories = pd.read_csv('data/item_categories.csv')
items = pd.read_csv('data/items.csv')
shops = pd.read_csv('data/shops.csv')
test = pd.read_csv('data/test.csv')
sample_submission = pd.read_csv('data/sample_submission.csv')

In [55]:
# Adding category_id as a new feature into test dataset
test_feature = pd.merge(test,items,on='item_id')[['ID','shop_id','item_id','item_category_id']]
test_feature = test_feature.sort_values(by='ID')

In [59]:
# Check for dataset shapes
print(test_feature.shape)
print(sample_submission.shape)
print(sales_train.shape)

(214200, 4)
(214200, 2)
(2935849, 6)

In [48]:
# Transform date format into date time
sales_train['date'] = pd.to_datetime(sales_train['date'])

In [66]:
# Set date as index for grouping
sales_train=sales_train.set_index('date')

In [70]:
sales_train.head()

            date_block_num  shop_id  item_id  item_price  item_cnt_day
date
2013-02-01               0       59    22154      999.00           1.0
2013-03-01               0       25     2552      899.00           1.0
2013-05-01               0       25     2552      899.00          -1.0
2013-06-01               0       25     2554     1709.05           1.0
2013-01-15               0       25     2555     1099.00           1.0

In [72]:
sales_train.groupby([pd.Grouper(freq='M'),'item_id'])[['item_cnt_day']].sum()

                    item_cnt_day
date       item_id
2013-01-31 27                3.0
           28                7.0
           29                1.0
           30               33.0
           31               16.0
           32              190.0
           33               49.0
           34                6.0
           35               89.0
           36                2.0
           37                4.0
           40                4.0
           41                8.0
           42                1.0
           43                1.0
           44                7.0
           45               11.0
           46                2.0
           47                6.0
           48                5.0
           49                8.0
           50                2.0
           51               12.0
           52                5.0
           53                8.0
           54                4.0
           55                9.0
           56                1.0
           57                2.0
           59               16.0
...                          ...
2015-12-31 22058             3.0
           22059             3.0
           22060             1.0
           22070             1.0
           22071             1.0
           22073             1.0
           22076            13.0
           22087            15.0
           22088            47.0
           22091            10.0
           22092            16.0
           22100            13.0
           22101             5.0
           22102            41.0
           22104             6.0
           22105             3.0
           22106             4.0
           22111             2.0
           22118             3.0
           22127             1.0
           22135             2.0
           22139             2.0
           22140             3.0
           22154             1.0
           22159             2.0
           22162            35.0
           22163             3.0
           22164            32.0
           22166             1.0
           22167            10.0

[286604 rows x 1 columns]

In [74]:
test_feature

            ID  shop_id  item_id  item_category_id
0            0        5     5037                19
42           1        5     5320                55
84           2        5     5233                19
126          3        5     5232                23
168          4        5     5268                20
210          5        5     5039                23
252          6        5     5041                20
294          7        5     5046                55
336          8        5     5319                55
378          9        5     5003                20
420         10        5     4806                30
462         11        5     4843                20
504         12        5     4607                55
546         13        5     4869                22
588         14        5     4870                23
630         15        5     4872                19
672         16        5     4874                72
714         17        5     4678                55
756         18        5     4892                30
798         19        5     4964                20
840         20        5     4717                55
882         21        5     5002                19
924         22        5     5823                35
966         23        5     5814                19
1008        24        5     5900                30
1050        25        5     5907                20
1092        26        5     5908                23
1134        27        5     5643                 2
1176        28        5     5657                 3
1218        29        5     5675                 3
...        ...      ...      ...               ...
212981  214170       45    14543                37
213023  214171       45    19253                30
213065  214172       45    17957                38
213107  214173       45    12470                58
213149  214174       45     7543                30
213191  214175       45     6661                21
213233  214176       45    11137                37
213275  214177       45    11489                40
213317  214178       45     9782                38
213359  214179       45     2972                30
213401  214180       45    19889                40
213443  214181       45    20650                72
213485  214182       45     5665                 3
213527  214183       45     9978                37
213569  214184       45    10767                37
213611  214185       45    14443                40
213653  214186       45    14341                40
213695  214187       45     5401                19
213737  214188       45     9500                40
213779  214189       45    16007                64
213821  214190       45     3280                55
213863  214191       45     4393                22
213905  214192       45     4352                22
213947  214193       45    18049                70
213989  214194       45    18027                70
214031  214195       45    18454                55
214073  214196       45    16188                64
214115  214197       45    15757                55
214157  214198       45    19648                40
214199  214199       45      969                37

[214200 rows x 4 columns]